html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  margin-bottom: 10px;

  width: 500px;
  height: 500px;

  animation: enterImage 3s ease-out;
  -webkit-animation: enterImage 3s ease-out;

  border: 5px solid darkgreen;
  border-radius: 50%;
}

@media only screen and (max-height: 500px) {
  img {
    width: 250px;
    height: 250px;
  }
}

div {
  font-family: "Lobster";
  font-size: 5em;
}

@keyframes enterImage {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}